small{
	margin-left: 0.5em;
	color: var(--colorMainLight);
}

.mainContainer{
	display: flex;
	flex-wrap: wrap;
	padding-top: 2em;
	padding-bottom: 3em;
	padding-left: 2.25em;
	padding-bottom: 2.25em;
}

.section{
	min-width: 50%;
	margin-bottom: 3.5em;
}

.registrationLabel{
	font-size: 1.5em;
	font-weight: bold;

	color: var(--colorMainDark);
}

.formLabel{
	font-size: 1.25em;
	font-weight: bold;

	color: var(--colorMainDark);
}

.formElement{
	margin-top: 2em;
	width: 100%;
}

.formElement > input, .formElement select, .formElement textarea, .formElement table, .formPhotosPreview {
	margin: 0.5em 0.25em 0.25em 1em;
	min-height: 1.5em;
	width: 90%;

	background-color: var(--inputbg);
	border: 1px solid gray;
	border-radius: 3px;
	font-size: 1.15em;
}
