body{
	
}
.Pagina{
    border: 1px solid black;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.Nume_produs{
	color: blue;
}
#poza{
	display :flex;
	height : 70%;
	width : 70%;
	flex-grow : 1;
}
#pret {
	font-width : bold;
	text-align : center;
	flex-grow: 1;
	color : red;
	display:felx;
}
#stoc{
	font-width : bold;
	float : center;
	flex-grow: 1;
	color : blue;
	display:felx;
}
#adauga{
	size: auto;
	flex-grow: 1;
	display:felx;
}
#favorite{
	size: auto;
	flex-grow: 1;
	display:felx;
}

.Prezentare{
	--border: 1px solid black;
	display:flex;
	width : 100%;
	max-height: 100%;
}
.left{
	display:flex;
	width: 200%;
}

.rigth{
	display:flex;
	flex-direction: column;
}

.Specificatii{
	display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.spec{
	display: flex;
    --width: 20em;
    min-width: 50%;
    flex-grow: 1;
    margin: 0.5em;

    border: 2px solid var(--inputbg);
    border-radius: 0.3em;
}


.spec p{
	display:flex;
	width: 50%;
	justify-content: center;
}

.Produse_similare{
	display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.alt_prod{
	display: flex;
    width: 20em;
    min-width: 40%;
    flex-grow: 1;
    margin: 0.5em;

    border: 2px solid var(--inputbg);
    border-radius: 0.3em;
}