.homeBar{
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
}

.homeBar *{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.homeBarSide{
    background-color: var(--btn1);
}

.homeBarSide li{
    padding: 0.5em;
    text-align: center;
}

.homeBarSide li:hover{
    background-color: var(--btn1_hover);
}

.homeBarSide li > a{
    font-size: 15;
    color: white;
    text-decoration: none;
}


.home{
    width: 97%;
    max-width: 70em;
    border: 1px solid black;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.section{
    border: 2px solid blue;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.section > *{
    display: flex;
    flex-wrap: wrap;
}

.section > h1{
    width: 100%;
    margin: 0.5em;
}

.homeProduct{
    width: 20em;
    min-height: 10em;
    min-width: 40%;
    flex-grow: 1;
    border: 1px solid black;
    margin: 0.5em;
}

.homeProduct img{
    width: 50%;
    object-fit: contain;
    margin: 0.5em;
}

.productInformation
{
    width: calc(50% - 2em);
    margin: 0.5em;
    object-fit: contain;
    text-align: left;

}

/* Product title */
.productInformation > p1{
    font-size: calc(2vmin + 0.7em);
}

/* Product price */
.productInformation > p2{
    font-size: calc(1.8vmin + 0.7em);
}

/* Product description */
.productInformation > p3{
    font-size: calc(0.5vmin + 0.7em);
}