.home{
    border: 1px solid black;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    background-color: white;
}

.homeBar{
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
}

.homeBar *{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
}

.homeBarSide{
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--btn1);
    flex-grow: 1;
}

.homeBarSide li{
    display: flex;
    flex-grow: 1;
    padding: 0.5em;
    text-align: center;
}

.homeBarSide li:hover{
    background-color: var(--btn1_hover);
}

.homeBarSide li > a{
    font-size: 15;
    color: white;
    text-decoration: none;
}
