

.mainContainer {
	height: auto;
	min-height: 100%;

	background-color: #E0E0E0;
}

.title {
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;

	background-color: var(--colorMain);
	color: white;
}

.title > * {
	margin-right: 1em;
}

.title > a {
	color: white;
}

@media only screen and (min-width: 768px) {
	.textContainer {
		margin: 0 15% 0 15%;
	}
}

.textContainer {
	padding: 1em 1em 2em 1em;

	background-color: white;
}

h3 {
	padding: 1em 1em 0.5em 2em;

	color: var(--colorMainDark)
}

.textContainer > p {
	padding: 0.5em 0.25em 0.25em 0.25em;

	text-indent: 2em;
	text-align: justify;
}

ol {
	padding: 0.5em 0.25em 0.25em 2em;

	list-style-type: upper-roman;
	text-align: justify;
}

ul {
	padding: 0.5em 0.25em 0.5em 1em;

	list-style-type: square;
	text-align: justify;
}

a {
	color: var(--colorMainLight);
}