:root {
    --navbg: #202028;
    --searchboxbg: #303038;

    --btn1: #800030;
    --btn1_hover: #9B1245;
    --btn1_active: #600024;

    --lnk1: #FFFFFF;

    --colorMain: #800030;
    --colorMainLight: #9B1245;
    --colorMainLighter: #B92E61;
    --colorMainDark: #600024;
    --colorMainDarker: #3B0016;

    --inputbg: #F4F0F0;
}

* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	box-sizing:border-box;
	font-family: trebuchet ms;
}