body {
	background-color: gray;
}

small {
	margin-left: 0.5em;
	color: var(--colorMainLight);
}

.mainContainer {
	margin: 0 00% 0 00%;
	height: auto;
	min-height: 100%;

	background-color: white;
}

.title {
	margin-bottom: 1em;
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;

	background-color: var(--colorMain);
	color: white;
}

.title > * {
	margin-right: 1em;
}

.title > a {
	color: white;
}