
 .homeBar{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
}

.homeBar *{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.homeBarSide{
    background-color: var(--colorMain);
}

.homeBarSide li{
    padding: 0.5em;
    text-decoration: none;
}

.homeBarSide li:hover{
    background-color: var(--colorMainLight);
}

.homeBarSide li > a {
    text-decoration: none;
}

.homeBarSide li > a > h2{
    display: inline;
    text-align: center;
    font-size: 15;
    color: white;
    font-weight: lighter;
}

.baseContainer{
    background-color: white;
    min-height: 50%;
}

.home{
    width: 97%;
    max-width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5em;
    padding-bottom: 1.5em;

    background-color: white;
}   

.section{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.homeProduct:first-of-type {
    width: 100%;
}

.section > .homeProduct > *{
    display: flex;
    flex-wrap: wrap;
}

.section > h3{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.5em;
    padding-right: 0;
    margin-bottom: 0.5em;

    font-size: calc(1.5vw + 1.2em);
    display: inline;
    margin-right: auto;
}

.homeProduct{
    display: flex;
    width: 20em;
    min-width: 40%;
    flex-grow: 1;
    margin: 0.5em;

    border: 2px solid var(--inputbg);
    border-radius: 0.3em;
}

.homeProduct a {
    text-decoration: none;
    color: black;
}

.productImage{
    padding: 1em;
    display: flex;
    align-items: center;
}

.productImage img{
    width: 100%;
}

.homeProduct div{
    width: 50%;
}

.productInformation
{
    width: calc(50% - 2em);
    margin: auto;
    padding: 0.5vw;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
}

.productInformation * {
    padding: 1%;
    text-decoration: none;
}

.footer{
    display: flex;
    min-height: 6em;
}

.footerContent{
    display: flex;
    justify-content: center;
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
}

.footerContent > a{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;

    color: var(--searchboxbg);
    text-decoration: none;
}

.footerContent > a:hover{
    color: var(--searchboxbg);
    text-decoration: underline;
}

/*font size*/

/* Product title */
.productInformation > h2{
    font-size: calc(1.5vw + 0.7em);
}

/* Product price */
.productInformation > h3{
    font-size: calc(1.4vw + 0.7em);
    line-height: 0.5em;
}

/* Product description */
.productInformation > h4{
    font-size: calc(0.6vw + 0.5em);
}

.footerContent > a{
    font-size: calc(0.8vw + 0.7em );
}

@media only screen and (min-width: 1000px) {

.section > h3{
    font-size: 2.3em;
}

.productInformation > h2{
    font-size: 1.8em;
}

.productInformation > h3{
    font-size: 1.7em;
}

.productInformation > h4{
    font-size: 1em;
}

.footerContent > a{
    font-size: 1.25em;
}
}
    
@media only screen and (max-width: 1000px) {
#homeBarRight{
    display: none;
}
