:root {
    --navbg: #202028;
    --searchboxbg: #303038;

    --btn1: #800030;
    --btn1_hover: #9B1245;
    --btn1_active: #600024;

    --lnk1: #FFFFFF;

    --colorMain: #800030;
    --colorMainLight: #9B1245;
    --colorMainLighter: #B92E61;
    --colorMainDark: #600024;
    --colorMainDarker: #3B0016;

    --inputbg: #F4F0F0;

    --background: #E0E0E0;
}

* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	box-sizing:border-box;
	font-family: trebuchet ms;
    text-decoration: none;
    color: black;
}

body {
    background-color: var(--background)
}

.baseContainer {
    height: auto;
    min-height: 100%;

    background-color: var(--background);
}

.title {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    background-color: var(--colorMain);
    color: white;
}

.title > * {
    margin-right: 1em;
}

.title > a {
    color: white;
}

@media only screen and (min-width: 768px) {
    .mainContainer {
        margin: 0 10% 0 10%;
    }
}

.mainContainer {
    padding: 1em 1em 2em 1em;

    background-color: white;
}

h3 {
    padding: 1em 1em 0.5em 2em;

    color: var(--colorMainDark)
}

.mainContainer > p {
    padding: 0.5em 0.25em 0.25em 0.25em;

    text-indent: 2em;
    text-align: justify;
}