/* chestii mai globale */
:root {
	--colorLink:#0066CC;
}

* {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}


body {
	display: flex;
	flex-direction: column;
}

.searchBody {
	display: flex;
	flex-direction: row;
}

.searchBody > div {
	border: 1px solid gray;
	float: left;
}

/* END chestii mai globale */

/* meniu' din stanga */
#filtre {
	width: 15%;
}

#filtre > ul {
	margin-left: 15%;
	color: var(--colorLink);
}

#filtre > h3 {
	font-size: 100%;
	color: var(--colorMain);
}
/* END meniu' din stanga */

/* lista de produse */
#content {
	width: 70%;
}

#content > ul {
	list-style-type: none;
}


/* produs */

/*#content > ul > li { */
.prod {
	display: flex;
	flex-direction: row;

	border: 1px solid green;
	width: 100%;
	height: auto;

	padding: 1em;
}

.prod > .prodText > .prodTitle > h3 {
	padding-left: 1em;
	padding-top: 0.5em;
	font-style: normal;
	font-size: 125%;
}

.prod > .prodText > .prodDesc {
	padding-left: 1em;

	display: flex;
	flex-direction: row;
}

.prod > .prodText > .prodDesc > .prodDescLeft {
	display: flex;
	flex-direction: column;
	width: 50%;
	/* flex-grow: 1; */
}

.prod > .prodText > .prodDesc > .prodDescRight {
	width: 50%;
	/* flex-grow: 1; */
}

.prod > .prodImage {
	max-width: 25%;
	max-height: 100%;
	object-fit: contain;
}

.prod > .prodImage > img {
	width: 100%;

	/*min-width: 0;
	min-height: 0;
	object-fit: contain;
	width: 33%;
	flex-grow: 2;*/
}
/* END produs */
/* END lista de produse */
