.navbar {
	background-color: var(--navbg);
	padding: 0.5em 0em 0.5em 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.navbarElement {
    display: flex;
    align-items: center;
    min-width: 4rem;
    flex-grow: 1;

    justify-content: space-around;

    margin: 0 0.25em 0 0.25em;
    color: white;
}

.navbarElement > a, .navbarElement > p  {
    margin: 0 0.5em 0 0.5em;
    max-width: 5rem;

    color: var(--lnk1);
    text-align: center;
}

.navbarElement > p > a {

    color: var(--lnk1);
}

.navbarLogo {
    height: 3em;
    min-width: auto;
}

.navbarSearch {
    width: 50%;
    padding: 0.25em 0 0.25em 0;
    height: 3em;
}

.button {
    display: flex;
    justify-content: center;

    font-size: 1em;
    background-color: var(--btn1);
    border: 0;
    color: var(--lnk1);
}

.button:hover {
    background-color: var(--btn1_hover);
}

.button:active {
    background-color: var(--btn1_active);
}

#searchForm {
    display: inline-flex;
    flex-grow: 1;
}

#searchBox {
    padding-left: 0.5em;
    height: 100%;
	width: 80%;
    min-width: 4em;
    float: left;
    flex-grow: 1;

    border: 0;
    background-color: var(--searchboxbg);
	font-size: 1.15em;
    font-weight: lighter;
    color: white;
}

#searchButton {
    padding: 0.5em 0.5em 0.5em 0.5em;
    height: 100%;
    width: 20%;
    max-width: 8em;
    min-width: 2em;
}

#searchButton > img {
    max-height: 1.5em;
}


#searchButton:hover {
    background-color: var(--btn1_hover);
}

#searchButton:active {
    background-color: var(--btn1_active);
}

a {
    text-decoration: underline;
}