@media only screen and (min-width: 768px) {
    .mainContainer {
        width: 768px;
        margin: auto;
    }
}

.mainContainer{
    background-color: white;
}

#signinForm{
    background-color: white;
}

.formLabel{
    font-size: 1em;
    color: var(--colorMainDark);
}

.section label{
    margin-left: 5%;
}

.formElement{
    width: 90%;
    margin-bottom: 1em;
    margin-left: 5%;
    margin-right: 5%;
}

#searchForm h4 {
	color: var(--colorMain);
	font-size: 1.15em;
}

.inputBox{
    min-height: 1.5em;
    width: 20em;
    max-width: 100%;
    padding-left: 0.5em;

    background-color: var(--inputbg);
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 1em;
}

.checkBoxOption{
    margin: 0.2em;
}

#inputBoxSearch {
    min-height: 1.5em;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0.5em;

    background-color: var(--inputbg);
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 1.15em;
}

h3, h4{
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding: 0;
}

.buttonContainer{
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 0.5em;
    min-width: 6em;
    padding: 0.25em 0.5em 0.25em 0.5em;
    width: 50%;
    height: 2em;

    font-size: 1.5em;
    background-color: var(--btn1);
    border: 0;
    color: var(--lnk1);
}

.button:hover {
    background-color: var(--btn1_hover);
}

.button:active {
    background-color: var(--btn1_active);
}
