@media only screen and (min-width: 500px) {
    .mainContainer {
        width: 500px;
        margin: auto;
    }
}

.mainContainer{
	background-color: white;
}

#signinForm{
	background-color: white;
}

.formLabel{
	font-size: 1.15em;
	font-weight: bold;

	color: var(--colorMainDark);
}

.formElement{
	width: 90%;
	margin-top: 2em;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

.formElement > input {
	min-height: 1.5em;
	width: 100%;
	padding: 0 0.5em 0 0.5em;

	background-color: var(--inputbg);
	border: 1px solid gray;
	border-radius: 3px;
	font-size: 1.15em;
}

.buttonContainer{
	min-width: 100%;
	display: flex;
	justify-content: center;
}

#registerField{
	text-align: center;
	padding: 1em;
}

#registerField a{
	color: var(--colorMain);
}

#registerField a:hover{
	color: var(--colorMainDarker);
}


.button {
	min-width: 6em;
    padding: 0.25em 0.5em 0.25em 0.5em;
    width: 50%;
    height: 2em;

    font-size: 1.5em;
    background-color: var(--btn1);
    border: 0;
    color: var(--lnk1);
}

.button:hover {
    background-color: var(--btn1_hover);
}

.button:active {
    background-color: var(--btn1_active);
}
