.baseContainer {
	min-height: 4em;
}

.containerFull {
	display: flex;
	flex-direction: column;
}

.transactionsTable > tbody > tr > td > a {
	cursor: pointer;
}

.stdTable {
    width: 100%;
}

.entry {
	padding-top: 1em;
	padding-bottom: 2em;
	border-top: 1px solid var(--colorMain);
}

th, td {
	border-top: 1px solid black;
	border-radius: 2px;
}

tr:nth-child(even) {
	       background-color: #dddddd;
   }

