{% extends "base.html" %}

{% block content %}
<div class="baseContainer">
    <div class="mainContainer">
        <div class="containerFull">
            <h3> Reports incoming </h3>
            <table class="listingsTable">
                <thead>
                    <tr>
                        <td>No.</td>
                        <td>Report ID</td>
                        <td>From user</td>
                        <td>Type</td>
                        <td>Product ID</td>
                        <td>Reason</td>
                        <td>Details</td>
                        <td>Resolved</td>
                        <td>Date resolved</td>
                    </tr>
                </thead>
                <tbody>
                {% for entry in repfrom %}
                    <tr id="report{{ entry.id }}">
                        <td>{{ loop.index }}</td>
                        <td>{{ entry.id }}</td>
                        <td>{{ entry.fromId }}</td>
                        <td>{{ entry.type }}</td>
                        <td>{{ entry.productId }}</td>
                        <td>{{ entry.reason }}</td>
                        <td>{{ entry.details }}</td>
                        <td>{{ entry.resolved }}</td>
                        <td>{{ entry.dateResolved }}</td>
                        {% if userlog.is_admin == 1 %}
                        <td><a onclick="cancelReport({{ entry.id}});"> cancel </a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h3> Reports outgoing </h3>
            <table class="listingsTable">
                <thead>
                    <tr>
                        <td>No.</td>
                        <td>Report ID</td>
                        <td>To user</td>
                        <td>Type</td>
                        <td>Product ID</td>
                        <td>Reason</td>
                        <td>Details</td>
                        <td>Resolved</td>
                        <td>Date resolved</td>
                    </tr>
                </thead>
                <tbody>
                {% for entry in repfrom %}
                    <tr id="report{{ entry.id }}">
                        <td>{{ loop.index }}</td>
                        <td>{{ entry.id }}</td>
                        <td>{{ entry.toId }}</td>
                        <td>{{ entry.type }}</td>
                        <td>{{ entry.productId }}</td>
                        <td>{{ entry.reason }}</td>
                        <td>{{ entry.details }}</td>
                        <td>{{ entry.resolved }}</td>
                        <td>{{ entry.dateResolved }}</td>
                        {% if userlog.is_admin == 1 %}
                        <td><a onclick="cancelReport({{ entry.id }});"> cancel </a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if userlog.UID == userreq.UID or userlog.isAdmin == 1 %}
            <h3> Listings </h3>
            <table class="listingsTable">
                <thead>
                    <tr>
                        <td>No.</td>
                        <td>Title</td>
                        <td>Type</td>
                        <td>Current bid / Price</td>
                        <td>Currency</td>
                        <td>Start date</td>
                        <td>End date</td>
                    </tr>
                </thead>
                <tbody>
                {% for entry in products %}
                    <tr id="product{{ entry.productID }}">
                        <td>{{ loop.index }}</td>
                        <td>{{ entry.title }}</td>
                        <td>{{ entry.auction }}</td>
                        <td>{{ entry.price }}</td>
                        <td>{{ entry.currency }}</td>
                        <td>{{ entry.dateAdded }}</td>
                        <td>{{ entry.dateExpired }}</td>
                        {#<td><a onclick="cancelProduct({{ entry.productID }});"> cancel </a></td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h3> Bids </h3>
            <table class="listingsTable">
                <thead>
                    <tr>
                        <td>No.</td>
                        <td>Title</td>
                        <td>Your bid</td>
                        <td>Currency</td>
                        <td>Status</td>
                        <td>Start date</td>
                        <td>End date</td>
                    </tr>
                </thead>
                <tbody>
                {% for entry in bidprod %}
                    <tr id="bid{{entry[0].bidID}}">
                        <td>{{ loop.index }}</td>
                        <td>{{ entry[1].title }}</td>
                        <td>{{ entry[0].value }}</td>
                        <td>{{ entry[1].currency }}</td>
                        <td>{{ entry[1].status }}</td>
                        <td>{{ entry[1].dateAdded }}</td>
                        <td>{{ entry[1].dateExpires }}</td>
                        {#<td><a onclick="cancelBid({{ entry[0].bidID }});"> cancel </a></td>-->#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h3> Transactions - selling </h3>
            <table class="listingsTable">
                <thead>
                    <tr>
                        <td>No.</td>
                        <td>Title</td>
                        <td>Type</td>
                        <td>User bid / Price</td>
                        <td>Currency</td>
                        <td>Start date</td>
                        <td>End date</td>
                        <td>Confirmed</td>
                    </tr>
                </thead>
                <tbody>
                {% for entry in transell %}
                    <tr id="transaction{{ entry.id }}">
                        <td>{{ loop.index }}</td>
                        <td><a href="/product?prodid={{ entry.product.productID }}">{{ entry.product.title }}</a></td>
                        <td>{{ entry.product.auction }}</td>
                        <td>{{ entry.product.price }}</td>
                        <td>{{ entry.product.currency }}</td>
                        <td>{{ entry.dateCreated }}</td>
                        <td>{{ entry.dateExpires }}</td>
                        <td>{% if entry.sellerConfirm == 1 %} yes {% else %} no {% endif %}</td>
                        <td><a onclick="confirmTransaction({{ entry.id }});"> confirm </a></td>
                        <td><a onclick="cancelTransaction({{ entry.id }});"> cancel </a></td>
                        </tr>
                    </a>
                {% endfor %}
                </tbody>
            </table>
            <h3> Transactions - buying</h3>
            <table class="listingsTable">
                <thead>
                    <tr>
                        <td>No.</td>
                        <td>Title</td>
                        <td>Type</td>
                        <td>Your bid / Price</td>
                        <td>Currency</td>
                        <td>Start date</td>
                        <td>End date</td>
                        <td>Confirmed</td>
                    </tr>
                </thead>
                <tbody>
                {% for entry in tranbuy %}
                    <tr id="transaction{{ entry.id }}">
                        <td>{{ loop.index }}</td>
                        <td><a href="/product?prodid={{ entry.product.productID }}">{{ entry.product.title }}</a></td>
                        <td>{{ entry.product.auction }}</td>
                        <td>{{ entry.product.price }}</td>
                        <td>{{ entry.product.currency }}</td>
                        <td>{{ entry.dateCreated }}</td>
                        <td>{{ entry.dateExpires }}</td>
                        <td>{% if entry.buyerConfirm == 1 %} yes {% else %} no {% endif %}</td>
                        <td><a onclick="confirmTransaction({{ entry.id }});"> confirm </a></td>
                        <td><a onclick="cancelTransaction({{ entry.id }});"> cancel </a></td>
                    </tr>
                    </a>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ footer }}
{% endblock %}
