{% extends "base.html" %}

{% block content %}
<div class="baseContainer">
    <div class="title">
        <h1>
            My bids
        </h1>
        <a href="/mylistings">
            My listings
        </a>
        <a href="#accountsettings">
            Account settings
        </a>
        <a href="#help">
            Help
        </a>
    </div>

    <div class="mainContainer">
        <div class="containerFull">
            <table class="listingsTable">
                <thead>
                    <tr>
                        <td>No.</td>
                        <td>Title</td>
                        <td>Your bid</td>
                        <td>Currency</td>
                        <td>Status</td>
                        <td>Start date</td>
                        <td>End date</td>
                    </tr>
                </thead>
                <tbody>
                {% for entry in bidprod %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ entry[1].title }}</td>
                        <td>{{ entry[0].value }}</td>
                        <td>{{ entry[1].currency }}</td>
                        <td>{{ entry[1].status }}</td>
                        <td>{{ entry[1].dateAdded }}</td>
                        <td>{{ entry[1].dateExpires }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
    {{ footer }}
{% endblock %}
