{% extends "base.html" %}

{% block content %}
<div class="baseContainer">
    <div class="title">
        <h1>
            My transactions
        </h1>
        <a href="/mybids">
            My bids
        </a>
        <a href="#accountsettings">
            Account settings
        </a>
        <a href="#help">
            Help
        </a>
    </div>

    <div class="mainContainer">
        <div class="containerFull">
            <h3> Transactions - selling </h3>
            <table class="transactionsTable">
                <thead>
                    <tr>
                        <td>No.</td>
                        <td>Title</td>
                        <td>Type</td>
                        <td>User bid / Price</td>
                        <td>Currency</td>
                        <td>Start date</td>
                        <td>End date</td>
                    </tr>
                </thead>
                <tbody>
                {% for entry in transell %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="/product?prodid={{ entry.product.productID }}">{{ entry.product.title }}</a></td>
                        <td>{{ entry.product.auction }}</td>
                        <td>{{ entry.product.price }}</td>
                        <td>{{ entry.product.currency }}</td>
                        <td>{{ entry.dateCreated }}</td>
                        <td>{{ entry.dateExpires }}</td>
                        <td>{% if entry.sellerConfirm == 1 %} yes {% else %} no {% endif %}</td>
                        <td><a onclick="confirmTransaction({{ entry.id }});"> confirm </a></td>
                        <td><a onclick="cancelTransaction({{ entry.id }});"> cancel </a></td>
                        </tr>
                    </a>
                {% endfor %}
                </tbody>
            </table>
            <h3> Transactions - buying</h3>
            <table class="transactionsTable">
                <thead>
                    <tr>
                        <td>No.</td>
                        <td>Title</td>
                        <td>Type</td>
                        <td>Your bid / Price</td>
                        <td>Currency</td>
                        <td>Start date</td>
                        <td>End date</td>
                        <td>Confirmed</td>
                    </tr>
                </thead>
                <tbody>
                {% for entry in tranbuy %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="/product?prodid={{ entry.product.productID }}">{{ entry.product.title }}</a></td>
                        <td>{{ entry.product.auction }}</td>
                        <td>{{ entry.product.price }}</td>
                        <td>{{ entry.product.currency }}</td>
                        <td>{{ entry.dateCreated }}</td>
                        <td>{{ entry.dateExpires }}</td>
                        <td>{% if entry.buyerConfirm == 1 %} yes {% else %} no {% endif %}</td>
                        <td><a onclick="confirmTransaction({{ entry.id }});"> confirm </a></td>
                        <td><a onclick="cancelTransaction({{ entry.id }});"> cancel </a></td>
                        </tr>
                    </a>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ footer }}
{% endblock %}
