<link rel="stylesheet" type="text/css" href="/public/static/css/style_navbar.css"/>
<div class="navbar">

    <a href="/" target="_top"><img class="navbarElement navbarLogo" src="/public/static/png/logo.png" alt="AuxioX" /></a>

    <form class="navbarElement navbarSearch" id="searchForm" action="/search">
        <input type="text" id="searchBox" name="query" placeholder=" Search for a product"/>
        <button type="submit" id="searchButton" class="button">
            <img src="/public/static/png/searchIcon.png" alt="search"/>
        </button>
    </form>

    <div class="navbarElement">
        {% if sessionData %}
            <a id="linkMyAccount" href="/signout" target="_top">Logged as {{ sessionData.username }}</a>
            <a id="linkMyListings" href="/mylistings" target="_top">My Listings</a>
            <a id="linkCreateAuction" href="/createlisting" target="_top">Create Listing</a>
            <a id="linkSignOut" href="/signout" target="_top">Sign Out</a>
        {% else %}
            <a id="linkSignUp" href="/registration" target="_top">New Account</a>
            <a id="linkSignIn" href="/signin" target="_top">Sign in</a>
        {% endif %}

    </div>

</div>
