{% extends "base.html" %}
{% block style %}
	{{ super() }}

	{{ product_styles }}
{% endblock %}

{% block content %}
<div class="mainContainer">
	<div class="containerFull">
		<div class="containerHalf" id="photoShowcase">
			<!-- product.images o sa fie o lista de imagini in base64 -->
			<div class="containerFull" id="photoCurrent">
				<img id="currentPhoto" src="{{ product.images[0] }}" alt="product">
			</div>
			<div class="containerFull" id="photoList">
				{% for productImage in product.images %}
					<img onclick="document.getElementById('currentPhoto').src = this.src;" src="{{productImage}}" alt="product"/>
				{% endfor %}
			</div>
		</div>

		<div class="containerHalf" id="productControlPanel">
			<table id="productGeneralInfo">
				<tr>
					<td>Condition</td>
					<td> {{ product.condition }} </td>
				</tr>
                <tr>
					<td>Created at </td>
					<td> {{ product.dateAdded }} </td>
				</tr>
				<tr>
					<td>Expires at </td>
					<td> {{ product.dateExpires }} </td>
				</tr>
				<tr>
					<td>Views </td>
					<td>{{ product.views }}</td>
				</tr>
                <tr>
					<td>Listing ID</td>
					<td>{{ product.productID }}</td>
				</tr>
			</table>

			<div class="containerFull" id="bidPanel">
				<div id="bidInfo">
					<div id="currentBid">
						<h4>{% if product.auction == 'Auction' %}Current bid:{% else %}Price:{% endif %}</h4><h2 id="price"> {{ product.price }} </h2><h2> {{ product.currency }} </h2>
					</div>
				</div>
				<div id="bidControl">
						{% if product.auction == 'Auction' %}
							<input type="number" name="bidAmount" id="bidAmount" placeholder="Your bid">
							<button class="button" onclick="bid()"> Bid now! </button>
						{% else %}
							<button class="button" onclick="buy()"> Buy now! </button>
						{% endif %}
				</div>
			</div>
			<div id="sellerInfo">
				<h5>Seller info</h5>
				<table id="sellerInfoTable">
				<tr>
					<td>seller</td>
					<td><a href="userListings.html"> {{ seller.username }} </a></td>
				</tr>
				<tr>
					<td>email</td>
					<td> {{ seller.email }} </td>
				</tr>
                {% if product.country != "" %}
				<tr>
					<td>location</td>
					<td> {{ product.country }}, {% if product.city != "" %}{{ product.city }}{% endif %} </td>
				</tr>
                {% endif %}
			</table> 					
			</div>
		</div>
	</div>
    <h3>Description</h3>
	<div class="productDescription">
        <p>{{ product.desc }}</p>
    </div>

    <h3>Questions and Answers</h3>
    <div class="questions">
        <ul>
            {% for pair in qaList%}
            <li class="qaPair">
                <div class="question">
                    <p class="questionText">
                        {{ pair.questionText }}
                        <small>asked by <a href="#userid{{pair.userId}}">{{ pair.username }}</a></small>
                    </p>
                </div>
                <div class="answer">
                    {% if pair.answerText is defined %}
                    <p class="answerText">
                        {{ pair.answerText }}
                    </p>
                    {% else %}
					<div class="answerInput">
						<div class="notAnswered">
							<p>
							Not answered
							<p>
                        {% if sessionData is defined %}
                        {% if seller.username == sessionData.username %}
							<button class="button answerButton" onclick="ToggleAnswerBox('{{pair.answerKey}}')">Answer this question</button>
						</div>
                        <div class="answerBox" id="{{pair.answerKey}}">
                            <textarea id="text_{{pair.answerKey}}"></textarea>
                            <button class="button answerButton" onclick="sendAnswerRequest('{{pair.answerKey}}', {{product.productID}})">Submit answer</button>
                        {% endif %}
                        {% endif %}
                        </div>
					</div>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if sessionData is defined %}
    {% if sessionData.username != seller.username%}
    <h3>Ask a question</h3>
    <div class="askQuestion">
        <textarea id="questionBox"></textarea>
        <button class="button" onclick="sendQuestionRequest({{product.productID}})">Submit question</button>
        <div id="errors"></div>
    </div>
    {% endif %}
    {% else %}
    <h3>Ask a question</h3>
    <div class="askQuestion">
        You must be logged in to ask questions.
    </div>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
	{{ footer }}
{% endblock %}

