{% extends "base.html" %}
{% block style %}
	{{ super() }}

	{{ product_styles }}
{% endblock %}

{% block content %}
	<div class="containerFull">
		<div class="containerHalf" id="photoShowcase">
			<!-- product.images o sa fie o lista de imagini in base64 -->
			<div class="containerFull" id="photoCurrent">
				<img id="currentPhoto" src="{{ product.images[0] }}" alt="product">
			</div>
			<div class="containerFull" id="photoList">
				{% for productImage in product.images %}
					<img onclick="document.getElementById('currentPhoto').src = this.src;" src="{{productImage}}" alt="product"/>
				{% endfor %}
			</div>
		</div>

		<div class="containerHalf" id="productControlPanel">
			<table id="productGeneralInfo">
				<tr>
					<td>Condition</td>
					<td> {{ product.condition }} </td>
				</tr>
				<tr>
					<td>Expires at </td>
					<td> {{ product.dateExpires }} </td>
				</tr>
				<tr>
					<td>Shipping method</td>
					<td> {{ product.shippingType }} </td>
				</tr>
			</table>

			<div class="containerFull" id="bidPanel">
				<div id="bidInfo">
					<div id="currentBid">
						<h4>{% if product.auction == 'Auction' %}Current bid:{% else %}Price:{% endif %}</h4><h2 id="price"> {{ product.price }} </h2><h2> {{ product.currency }} </h2>
					</div>
				</div>
				<div id="bidControl">
						{% if product.auction == 'Auction' %}
							<input type="number" name="bidAmount" id="bidAmount" placeholder="Your bid">
							<button class="button" onclick="bid()"> Bid now! </button>
						{% else %}
							<button class="button" onclick="bid()"> Buy now! </button>
						{% endif %}
				</div>
			</div>
			<div id="sellerInfo">
				<h5>Seller info</h5>
				<table id="sellerInfoTable">
				<tr>
					<td>account</td>
					<td><a href="userListings.html"> {{ seller.username }} </a></td>
				</tr>
				<tr>
					<td>views: </td>
					<td>{{ product.views }}</td>
				</tr>
				<tr>
					<td>email</td>
					<td> {{ seller.email }} </td>
				</tr>
				<tr>
					<td>location</td>
					<td> {{ product.country }}, {{ product.city }} </td>
				</tr>
			</table> 					
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	{{ footer }}
{% endblock %}

