{% extends "base.html" %}
{% block style %}
	{{ super() }}

	{{ product_styles }}
{% endblock %}

{% block content %}
<div class="mainContainer">
	<div class="containerFull">
		<div class="containerHalf" id="photoShowcase">
			<!-- product.images o sa fie o lista de imagini in base64 -->
			<div class="containerFull" id="photoCurrent">
				<img id="currentPhoto" src="{{ product.images[0] }}" alt="product">
			</div>
			<div class="containerFull" id="photoList">
				{% for productImage in product.images %}
					<img onclick="document.getElementById('currentPhoto').src = this.src;" src="{{productImage}}" alt="product"/>
				{% endfor %}
			</div>
		</div>

		<div class="containerHalf" id="productControlPanel">
			<table id="productGeneralInfo">
				<tr>
					<td>Condition</td>
					<td> {{ product.condition }} </td>
				</tr>
                <tr>
					<td>Created at </td>
					<td> {{ product.dateAdded }} </td>
				</tr>
				<tr>
					<td>Expires at </td>
					<td> {{ product.dateExpires }} </td>
				</tr>
				<tr>
					<td>Views </td>
					<td>{{ product.views }}</td>
				</tr>
			</table>

			<div class="containerFull" id="bidPanel">
				<div id="bidInfo">
					<div id="currentBid">
						<h4>{% if product.auction == 'Auction' %}Current bid:{% else %}Price:{% endif %}</h4><h2 id="price"> {{ product.price }} </h2><h2> {{ product.currency }} </h2>
					</div>
				</div>
				<div id="bidControl">
						{% if product.auction == 'Auction' %}
							<input type="number" name="bidAmount" id="bidAmount" placeholder="Your bid">
							<button class="button" onclick="bid()"> Bid now! </button>
						{% else %}
							<button class="button" onclick="buy()"> Buy now! </button>
						{% endif %}
				</div>
			</div>
			<div id="sellerInfo">
				<h5>Seller info</h5>
				<table id="sellerInfoTable">
				<tr>
					<td>seller</td>
					<td><a href="userListings.html"> {{ seller.username }} </a></td>
				</tr>
				<tr>
					<td>email</td>
					<td> {{ seller.email }} </td>
				</tr>
                {% if product.country != "" %}
				<tr>
					<td>location</td>
					<td> {{ product.country }}, {% if product.city != "" %}{{ product.city }}{% endif %} </td>
				</tr>
                {% endif %}
			</table> 					
			</div>
		</div>
	</div>
    <h3>Description</h3>
	<div class="productDescription">
        <p>{{ product.desc }}</p>
    </div>

    <h3>Questions and Answers</h3>
    <div class="questions">
        <ul>
            <li class="qaPair">
                <div class="question">
                    <p class="questionText">
                        Hi. Is this the best thing to invest into right now? I have recently stumbled upon large sum of money and I would like to make an investment.
                        <small>asked by <a href="#yeshedoes">godlovesme147</a></small>
                    </p>
                </div>
                <div class="answer">
                    <p class="answerText">
                        Hello. Unfortunately, this market segment is very crowded at the moment. Any form of investment will take a lot of time to fully pay off. Have a nice day!
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <h3>Ask a question</h3>
    <div class="askQuestion">
        <textarea></textarea>
        <button class="button">Submit question</button>
    </div>

</div>
{% endblock %}

{% block footer %}
	{{ footer }}
{% endblock %}

