			<ul>
				{% for product in products %}
				<li class="prod">
					<div class="prodTitle">
						<h3><a href="/product?prodid={{ product.productID }}"> {{ product.title }} </a></h3>
					</div>

					<div class="prodContent">
						<div class="prodImage">
							<img src="{{ product.images[0] }}" alt="product"/>
						</div>
						<div class="prodDesc">
							<div class="prodDescLeft">
								<span> Condition: {{ product.condition }} </span>
								<span> Country: {{ product.country }} </span>
								<span> City: {{ product.city }} </span>
								<span> Listing type: {{ product.auction }} </span>
								{% if product.auction == 'Auction' %}
									<span> Highest bid: {{ product.price }} {{ product.currency }} </span>
								{% else %}
									<span> Price: {{ product.price }} {{ product.currency }} </span>
								{% endif %}
								<span> Price: {{ product.price }} {{ product.currency }} </span>
								<span> Shipping method: {{ product.shippingType }} </span>
								<span> Shipping cost: {{ product.shippingPrice }} {{ product.currency }} </span>
								<span> Date added: {{ product.dateAdded }} </span>
								<span> Date expires: {{ product.dateExpires }} </span>
							</div>
							<div class="prodDescRight">
								<p>
									{{product.desc }}
								</p>
							</div>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>

			<ul id="pageList">
			{% if pages|length < 16 %}
				{% for page in pages %}
					<li>
						<a onclick="updateProductPage({{ page.index }})"> {{ page.index }} </a>
					</li>
				{% endfor %}
			{% else %}
				{% for page in pages %}
					{% if loop.index0 <= 8 or loop.index0 >= (loop.length - 8) %}
						<li>
							<a onclick="updateProductPage({{ page.index }})"> {{ page.index }} </a>
						</li>
					{% else %}
						{% if loop.index0 == 9 %}
							<span> ... </span>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
			</ul>

