{% extends "base.html" %}
{% block style %}
	{{ super() }}

	{{ search_styles }}
{% endblock %}

{% block content %}
	<div class="searchBody">
		{{ search_filters }}

		{% block items %}
			{{ ints }}
			{% for thing in ints %}
				{{ thing }}
			{% endfor %}

			<div id="content">
			{% for product in products %}
				<ul>
					<li class="prod">
						<div class="prodTitle">
							<h3><a href="http://google.com"> {{ product.title }} </a></h3>
						</div>
						<div class="prodContent">
							<div class="prodImage">
								<img src="./resource/img/nes.jpg" alt="product"/>
							</div>
							<div class="prodDesc">
								<div class="prodDescLeft">
									<span> Condition: {{ product.condition }}  </span>
									<span> Country: {{ product.country }} </span>
									<span> City: {{ product.city }} </span>
									<span> Listing type: {{ product.auction }} </span>
									<span> Price: {{ product.price }}currency  </span>
									<span> Shipping method: {{ product.shippingType }} </span>
									<span> Shipping cost: {{ product.shippingPrice }} currency </span>
									<span> Date added: {{ product.dateAdded }} </span>
								</div>
								<div class="prodDescRight">
									<p>
										{{ product.desc }}
									</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			{% endfor %}
			</div>
		{% endblock %}
	</div>
{% endblock %}

{% block footer %}
	{{ footer }}
{% endblock %}

