<link rel="stylesheet" type="text/css" href="/public/static/css/style_home.css"/>
<div class="footer" id="footerHome">
    <div class="footerContent">
        <div class=footerColumn>
            <a href="#guidelines">
                Guidelines
            </a>
            <a href="#tos">
                Terms of service
            </a>
            <a href="#help">
                Help
            </a>
        </div>
        <div class=footerColumn>
            <a href="/api/json">
                JSON
            </a>
            <a href="/api/xml">
                XML
            </a>
            <a href="/api/pdf">
                PDF
            </a>
        </div>
        <div class=footerColumn>
            <a href="/feed/">
                ATOM Feed
            </a>
        </div>
    </div>
</div>
