        <div class="homeBar">
            <div class="homeBarSide" id="homeBarLeft">
                <ul>
                    <li><a href="/home?category=mostPopular"><h2>Most popular</h2></a></li>
                    <li><a href="/home?category=newest"><h2>Newest</h2></a></li>
                </ul>
            </div>
            <div class="homeBarSide" id="homeBarRight">
                <ul>
                    <li><a href="/home?category=clothingAndAccessories"><h2>Clothing & Accessories</h2></a></li>
                    <li><a href="/home?category=electronics"><h2>Electronics</h2></a></li>
                    <li><a href="/home?category=homeAndOutdoors"><h2>Home & Outdoors</h2></a></li>
                    <li><a href="/home?category=vehicles"><h2>Vehicles</h2></a></li>
                    <li><a href="/home?category=collectiblesAndArt"><h2>Collectibles & Art</h2></a></li>
                    <li><a href="/home?category=consumables"><h2>Consumables</h2></a></li>
                </ul>
            </div>
        </div>
