        <div class="homeBar">
            <div class="homeBarSide" id="homeBarLeft">
                <ul>
                    <li><a href=""><h2>Most popular</h2></a></li>
                    <li><a href=""><h2>Newest</h2></a></li>
                </ul>
            </div>
            <div class="homeBarSide" id="homeBarRight">
                <ul>
                    <li><a href=""><h2>Clothing & Accessories</h2></a></li>
                    <li><a href="search.html"><h2>Electronics</h2></a></li>
                    <li><a href=""><h2>Home & Outdoors</h2></a></li>
                    <li><a href=""><h2>Vehicles</h2></a></li>
                    <li><a href=""><h2>Collectibles & Art</h2></a></li>
                    <li><a href=""><h2>Consumables</h2></a></li>
                </ul>
            </div>
        </div>
