<div class="baseContainer">
    <div class="title">
        <h1>
            My bids
        </h1>
        <a href="/mylistings">
            My listings
        </a>
        <a href="#accountsettings">
            Account settings
        </a>
        <a href="#help">
            Help
        </a>
    </div>

    <div class="mainContainer">
        <div class="containerFull">
            <table class="listingsTable">
                <thead>
                    <tr>
                        <td>No.</td>
                        <td>Title</td>
                        <td>Your bid</td>
                        <td>Current bid (buyout)</td>
                        <td>Currency</td>
                        <td>Status</td>
                        <td>Start date</td>
                        <td>End date</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Dwarf gun</td>
                        <td>452</td>
                        <td>452 (650)</td>
                        <td>EUR</td>
                        <td>Winning</td>
                        <td>10-06-2018</td>
                        <td>11-07-2018</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Baloon</td>
                        <td>2</td>
                        <td>3</td>
                        <td>RON</td>
                        <td>Losing</td>
                        <td>14-03-2018</td>
                        <td>10-07-2018</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Spanish flea</td>
                        <td>12</td>
                        <td>24</td>
                        <td>EUR</td>
                        <td>Lost</td>
                        <td>12-03-2018</td>
                        <td>24-05-2018</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>