			<div id="content">
				<ul>
					<li class="prod">
						<div class="prodTitle">
							<h3><a href="http://google.com"> Nintendo Entertainment System UNOPENED NEW </a></h3>
						</div>
						<div class="prodContent">
							<div class="prodImage">
								<img src="./resource/img/nes.jpg" alt="product"/>
							</div>
							<div class="prodDesc">
								<div class="prodDescLeft">
									<span> Condition: boxed </span>
									<span> Country: Italy </span>
									<span> City: Rroma </span>
									<span> Listing type: Insta-buy </span>
									<span> Price: 300EUR </span>
									<span> Shipping method: Malaysia Airways </span>
									<span> Shipping cost: 9.99RON </span>
									<span> Date added: 22.03.2018 </span>
								</div>
								<div class="prodDescRight">
									<p>
										The Nintendo Entertainment System (commonly abbreviated as NES) is an 8-bit home video game console that was developed and manufactured by Nintendo. It was initially released in Japan as the Family Computer ) (also known by the portmanteau abbreviation Famicomdkwk) and abbreviated as FC) on July 15, 1983, and was later released in New York City in 1985, and throughout the U.S as well as in Europe during 1986 and 1987, and Australia in 1987.
									</p>
								</div>
							</div>
						</div>
					</li>
					<li class="prod">
						<div class="prodTitle">
							<h3><a href="product.html"> Family Computer </a></h3>
						</div>
						<div class="prodContent">
							<div class="prodImage">
								<img src="./resource/img/fam.png" alt="product"/> 
							</div>
							<div class="prodDesc">
								<div class="prodDescLeft">
									<span> Condition: boxed </span>
									<span> Country: China </span>
									<span> City: Changsha </span>
									<span> Listing type: Insta-buy </span>
									<span> Price: 1.99RNB </span>
									<span> Shipping method: China Post Service </span>
									<span> Shipping price: 0.99RNB </span>
									<span> Date added: 22.03.2018 </span>
								</div>
								<div class="prodDescRight">
									<p>
										The Nintendo Entertainment System (commonly abbreviated as NES) is an 8-bit home video game console that was developed and manufactured by Nintendo. It was initially released in Japan as the Family Computer (Japanese(also known by the portmanteau abbreviation Famicom ) and abbreviated as FC) on July 15, 1983, and was later released in New York City in 1985, and throughout the U.S as well as in Europe during 1986 and 1987, and Australia in 1987.
									</p>
								</div>
							</div>
						</div>
					</li>
					<li class="prod">
						<div class="prodTitle">
							<h3><a href="product.html"> 80's cellphone I found </a></h3>
						</div>
						<div class="prodContent">
							<div class="prodImage">
								<img src="./resource/img/cell.jpg" alt="product"/>
							</div>
							<div class="prodDesc">
								<div class="prodDescLeft">
									<span> Condition: slightly used </span>
									<span> Country: Romania </span>
									<span> City: Iasi </span>
									<span> Listing type: Auction </span>
									<span> Starting bid: 299.99RON </span>
									<span> Shipping method: taxi </span>
									<span> Shipping price: 40RON </span>
									<span> Date added: 22.03.2018 </span>
									<span> Expires: 23.03.2018 </span>
								</div>
								<div class="prodDescRight">
									<p>
										A mobile phone, known as a cell phone in North America, is a portable telephone that can make and receive calls over a radio frequency link while the user is moving within a telephone service area. The radio frequency link establishes a connection to the switching systems of a mobile phone operator, which provides access to the public switched telephone network (PSTN).
									</p>
								</div>
							</div>
						</div>
					</li>
					<li class="prod">
						<div class="prodTitle">
							<h3><a href="product.html"> The Walking Men 2: All DLC</a></h3>
						</div>
						<div class="prodContent">
							<div class="prodImage">
								<img src="./resource/img/walkman.jpg" alt="product"/>
							</div>
							<div class="prodDesc">
								<div class="prodDescLeft">
									<span> Condition: new </span>
									<span> Country: Romania </span>
									<span> City: Iasi </span>
									<span> Listing type: Insta-buy </span>
									<span> Price: 14.99RON </span>
									<span> Shipping method: airdrop </span>
									<span> Shipping price: 14.99RON </span>
									<span> Date added: 22.03.2018 </span>
								</div>
								<div class="prodDescRight">
									<p>
										Walkman is a Sony brand tradename, originally used for portable audio cassette players from the late 1970s onwards. In later years, it has been used by Sony to market digital portable audio/video players, as well as a line of mobile phones introduced in 2005.
									</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>

