<form class="mainContainer">

    <div id="userInfoSection" class="section">
        <div class="sectionLabel"><label>User information</label></div>

        <div class="formElement" id="emailField">
            <label class="formLabel" for="inputEmail">Email<small>*</small></label>
            <small>This will be used for validating your account.</small><br>
            <input id="inputEmail" type="email" required/>
        </div>

        <div class="formElement" id="usernameField">
            <label class="formLabel" for="inputUsername">Username<small>*</small></label>
            <small>Must be between 4 and 16 characters that are alphanumeric or - _</small><br>
            <input id="inputUsername" type="text" required/>
        </div>

        <div class="formElement" id="passwordField">
            <label class="formLabel">Password<small>*</small></label>
            <small>Must be between 8 and 32 characters that are alphanumeric or , . + - _ ? !</small><br>
            <input id="inputPassword" type="password" required/><br>
            <label class="formLabel">Confirm Password<small>*</small></label>
            <br>
            <input id="inputConfirmPassword" type="password" required/>
        </div>
    </div>


    <div id="locationSection" class="section">
        <div class="sectionLabel"><label>Address</label>
            <small>This will be used as the shipping/billing address.</small>
        </div>

        <div class="formElement" id="countryField">
            <label class="formLabel">Country</label>
            <small>e.g. United States</small>
            <br>
            <input id="inputCountry" list="countryList"/>

            <datalist id="countryList">
                <option value="Romania">
                <option value="United States">
            </datalist>

        </div>

        <div class="formElement" id="stateField">
            <label class="formLabel" for="inputState">State</label>
            <small>(If applicable) e.g. Columbia </small>
            <br>
            <input id="inputState" list="stateList" type="text"/>

            <datalist id="stateList">
                <option value="Nebraska">
                <option value="California">
                <option value="Florida">
                <option value="Columbia">
            </datalist>

        </div>

        <div class="formElement" id="cityField">
            <label class="formLabel" for="inputCity">City</label>
            <small>e.g. New York</small>
            <br>
            <input id="inputCity" list="cityList"/>

            <datalist id="cityList">
                <option value="Iasi">
                <option value="Bucharest">
                <option value="New York">
                <option value="Washington">
            </datalist>

        </div>

        <div class="formElement" id="address1Field">
            <label class="formLabel" for="inputAddress1">Address line 1</label>
            <small> e.g. 1200 Pennsylvania Avenue</small>
            <br>
            <input id="inputAddress1"/>
        </div>

        <div class="formElement" id="address2Field">
            <label class="formLabel" for="inputAddress2">Address line 2</label>
            <small> e.g. 1200 Pennsylvania Avenue</small>
            <br>
            <input id="inputAddress2"/>
        </div>

        <div class="formElement" id="zipCodeField">
            <label class="formLabel" for="inputZipCode">Zip Code</label>
            <small> e.g. 40003</small>
            <br>
            <input id="inputZipCode"/>
        </div>

    </div>

    <div id="contactSection" class="section">
            <div class="sectionLabel"><label>Contact information</label></div>

            <div class="formElement" id="firstNameField">
                <label class="formLabel">First Name</label>
                <small>e.g. John</small><br>
                <input id="inputFirstName" type="text"/>
            </div>

            <div class="formElement" id="lastNameField">
                <label class="formLabel">Last Name</label>
                <small>e.g. Doe</small><br>
                <input id="inputLastName" type="text"/>
            </div>

            <div class="formElement" id="telField">
                <label class="formLabel" for="inputTel">Telephone number</label>
                <small>e.g. 40 711 222 333</small>
                <br>
                <input id="inputTel" type="tel"/>
            </div>
    </div>
    <div class="section" id="errors">

    </div>
    <div class="buttonContainer">
        <button class="button" onclick="sendUserRegisterRequest(); return false;">
            Create account
        </button>
    </div>

</form>