<div class="mainContainer">

    <form id="signinForm" onsubmit="return false;">
        <div class="formElement" id="emailField">
            <label class="formLabel" for="inputUsername">Username</label>
            <input id="inputUsername" type="email" required/>
        </div>

        <div class="formElement" id="passwordField">
            <label class="formLabel">Password</label>
            <input id="inputPassword" type="password" required/><br>
        </div>

        <div class="section" id="errors">

        </div>

        <div class="buttonContainer">
            <button type="button" class="button" id="signInButton" onclick="signIn(); return false;">
                Sign in
            </button>
        </div>

    </form>

    <div id="registerField">
        <a href="/registration">
            Not already an user? Register
        </a>
    </div>

</div>